services:
  gateway:
    image: nginx:alpine
    container_name: bazarzone-gateway
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./gateway/ssl:/etc/nginx/ssl
      - ./gateway/certbot/conf:/etc/letsencrypt
      - ./gateway/certbot/www:/var/www/certbot
    depends_on:
      - frontend

  frontend:
    image: bazarzone-frontend:latest
    container_name: bazarzone-frontend
    restart: always
    expose:
      - "80"

  api:
    image: bazarzone-api:latest
    container_name: bazarzone-api
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    expose:
      - "8080"

  certbot:
    image: certbot/certbot
    container_name: bazarzone-certbot
    volumes:
      - ./gateway/certbot/conf:/etc/letsencrypt
      - ./gateway/certbot/www:/var/www/certbot
